@model HomeScrum.Data.Domain.ProjectStatus

@{
    ViewBag.Title = "Edit";
    ViewBag.EditorButtonLabel = "Save";
}

<h2>Edit</h2>

@Html.Partial( "_Editor", Model )

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
