# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
ClientBin
obj

# NuGet packages
packages

# mstest test results
TestResults

# Log Files
log-file.*

# vim backup files
*~
.*~

# other files
*.user
*.suo
*.swp
