@model IEnumerable<HomeScrum.Web.Models.Admin.AcceptanceCriteriaStatusViewModel>

@{
    ViewBag.Title = "Acceptance Criteria Statuses";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_DataObjectList", Model )