@model HomeScrum.Web.Models.Base.ViewModelBase


@{
   ViewBag.EditorButtonLabel = "Create";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_Editor", Model )

<div>
   @Html.ActionLink( "Cancel", Model.CallingAction ?? "Index", Model.CallingController,
       (Model.CallingId != default( Guid )) ? new { id = Model.CallingId.ToString() } : null, null )
</div>

@section Scripts {
   @Scripts.Render( "~/bundles/jqueryval" )
}