@using HomeScrum.Web.Extensions
@model HomeScrum.Web.Models.Base.DomainObjectViewModel

<fieldset>
    <legend>Basic Information</legend>

    <div class="displayLabel" id="NameLabel">
        @Html.DisplayNameFor( model => model.Name )
    </div>
    <div class="displayField" id="Name">
        @Html.DisplayFor( model => model.Name )
    </div>

    <div class="displayLabel" id="DescriptionLabel">
        @Html.DisplayNameFor( model => model.Description )
    </div>
    <div class="displayLongTextField" id="Description">
        @Html.DisplayFormattedText( Model.Description )
    </div>
</fieldset>

