@model HomeScrum.Web.Models.Base.ViewModelBase

<div class="ActionButtonArea">
   <button id="SubmitButton" class="btn btn-primary">Save</button>
   <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>