@model IEnumerable<HomeScrum.Web.Models.Base.SystemDomainObjectViewModel>

@Html.DisplayFor( m => Model, "List" )

<div id="ActionButtonArea">
   @Html.ActionLink( "Create New", "Create", null, new { id = "CreateNewItem", @class = "btn btn-primary" } )
   @*<div class="btn-group" data-toggle="buttons">
      <label id="SortableToggleLabel" class="btn btn-primary"><input type="checkbox" id="SortableToggle" />Allow Sorting</label>
   </div>*@
   <button id="SortableToggle" type="button" class="btn btn-default" data-toggle="button" data-ordering-text="Save Changes">Allow Sorting</button> 
   @*<input type="checkbox" id="ShowInactiveToggle" /><label for="ShowInactiveToggle">Show Inactive</label>*@
</div>

<script>
   function postSortData(controllerName) {
      $.ajax({
         url: controllerName + '/UpdateSortOrders/',
         data: { itemIds: $(".ListBody").sortable('toArray') },
         type: 'post',
         traditional: true
      });
   }

   $(function () {
      // jQuery UI stand alone widget init
      $("#CreateNewItem").button();

      Utilities.setupShowHideButton("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()", $("#ShowInactiveToggle"), "Inactive");

      // Sortability stuff
      $(".ListBody").sortable();
      $(".ListBody").sortable("disable");
      $(".SortIcon").hide();

      var sortableToggleButton = $("#SortableToggle");
      sortableToggleButton.click(
          function () {
             if ($(this).hasClass('active')) {
                $(".ListBody").sortable("disable");
                $(".ListBody").enableSelection();
                postSortData("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()");
                $(".SortIcon").hide("fade");
             }
             else {              
                $(".ListBody").sortable("enable");
                $(".ListBody").disableSelection();
                $(".SortIcon").show("fade");
             }
          });
   });
</script>
