@model IEnumerable<HomeScrum.Web.Models.Base.SystemDomainObjectViewModel>

@Html.DisplayFor( m => Model, "List" )

<div class="modal fade" id="modalEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div class="ActionButtonArea">
   @Html.ActionLink( "Create New", "Create", null,
      new { id = "CreateNewItem", @class = "btn btn-primary", data_toggle = "modal", data_target = "#modalEditor" } )
   <button id="SortableToggle" type="button" class="btn btn-default" data-toggle="button" data-ordering-text="Save Changes">Allow Sorting</button>
</div>

<script type="text/javascript">
   $(document).ready(function () {
      $.ajaxSetup({ cache: false });

      $('.modal').on('hidden.bs.modal', function () {
         $(this).removeData('bs.modal');
      });
   });


   function postSortData(controllerName) {
      $.ajax({
         url: controllerName + '/UpdateSortOrders/',
         data: { itemIds: $(".ListBody").sortable('toArray') },
         type: 'post',
         traditional: true
      });
   }

   $(function () {
      // jQuery UI stand alone widget init
      $("#CreateNewItem").button();

      Utilities.setupShowHideButton("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()", $("#ShowInactiveToggle"), "Inactive");

      // Sortability stuff
      $(".ListBody").sortable();
      $(".ListBody").sortable("disable");
      $(".SortIcon").hide();

      var sortableToggleButton = $("#SortableToggle");
      sortableToggleButton.click(
          function () {
             if ($(this).hasClass('active')) {
                $(".ListBody").sortable("disable");
                $(".ListBody").enableSelection();
                postSortData("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()");
                $(".SortIcon").hide("fade");
             }
             else {
                $(".ListBody").sortable("enable");
                $(".ListBody").disableSelection();
                $(".SortIcon").show("fade");
             }
          });
   });
</script>
