/* validations */
.field-validation-error {
   color: #e80c4d;
   font-weight: bold;
}

.field-validation-valid {
   display: none;
}

input.input-validation-error {
   border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
   border: 0 none;
}

.validation-summary-errors {
   color: #e80c4d;
   font-weight: bold;
   font-size: 1.1em;
}

   .validation-summary-errors ul {
      list-style: none;
   }

.validation-summary-valid {
   display: none;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 70%;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}