/* forms */
fieldset
{
   border: none;
   margin: 0px;
   margin-bottom: 10px;
   padding: 0px;
}

   fieldset legend
   {
      display: none;
   }

   fieldset .formSingleLineEdit,
   fieldset .formStaticText,
   fieldset .formSelectList,
   fieldset .formBooleanOption,
   fieldset .formLongText
   {
      margin: inherit;
      margin-bottom: inherit;
      clear: left;
      float: left;
      width: 100%;
   }

      fieldset .formSingleLineEdit label
      {
         width: 84px;
         clear: left;
         float: left;
      }

      fieldset .formSingleLineEdit span
      {
         display: block;
         overflow: hidden;
         padding-right: 5px;
      }

         fieldset .formSingleLineEdit span input
         {
            width: 100%;
         }

      fieldset .formSelectList label,
      fieldset .formStaticText label
      {
         width: 9em;
         float: left;
      }

      fieldset .formSelectList select
      {
         width: 24em;
      }

      fieldset .formLongText label
      {
         display: table-row;
      }

      fieldset .formLongText span
      {
         display: block;
         overflow: hidden;
         padding-right: 6px;
      }

      fieldset .formLongText span textarea
      {
         height: 8em;
         width: 100%;
      }

#UserEditor fieldset .formSingleLineEdit label
{
   width: 12em;
}

.disabled
{
   color: slategray;
   background-color: lightyellow;
}


/* validations */
.field-validation-error
{
   color: #e80c4d;
   font-weight: bold;
}

.field-validation-valid
{
   display: none;
}

input.input-validation-error
{
   border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
   border: 0 none;
}

.validation-summary-errors
{
   color: #e80c4d;
   font-weight: bold;
   font-size: 1.1em;
}

   .validation-summary-errors ul
   {
      list-style: none;
   }

.validation-summary-valid
{
   display: none;
}
