Leave plain for now, add own layout after content fleshed out a bit more article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary
{
  display: block;
}

a
{
  color: #25547B;
}

  a:hover
  {
    color: #BF8330;
  }

.endRegion
{
  clear: both;
}

body
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  max-width: 1024px;
  margin: 0 auto; /* auto is same as lef/right auto, centers the content in the body */
}

header
{
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #043C6B;
}

  header h1
  {
    margin: 0px;
    font-size: xx-large;
    color: lightgray;
    float: left;
  }

  header section#headerMenu
  {
    float: right;
    color: lightgray;
  }

    header section#headerMenu a
    {
      color: whitesmoke;
    }

      header section#headerMenu a:hover
      {
        color: #FFC473;
      }

  header nav ul
  {
    margin: 0px;
    text-align: right;
  }

    header nav ul li
    {
      display: inline;
      list-style-type: none;
      font-size: small;
      margin: 0px;
    }


#login
{
  margin: 0px;
  display: inline;
  font-size: small;
  text-align: right;
}

#logoutForm
{
  display: inline;
}

.Content
{
  margin-top: 0px;
}

.Sidebar
{
  padding: 10px;
  float: left;
  width: 180px;
}

  .Sidebar nav h2
  {
    font-size: large;
    border-bottom: thin #25547B solid;
  }

  .Sidebar nav ul
  {
    padding-left: 0px;
  }

    .Sidebar nav ul li
    {
      font-size: small;
      margin-top: 5px;
      margin-bottom: 0px;
      list-style-type: none;
    }


.WorkArea
{
  margin-left: 200px;
  /*min-height: 400px;*/
}

article
{
  padding: 20px 0px;
  font-size: small;
}


  article h2
  {
    margin: 0px;
    font-size: large;
  }

  article h3
  {
    font-size: medium;
  }

footer div#copyright
{
  float: left;
  font-size: xx-small;
}
