@{
    ViewBag.Title = "About Home Scrum";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<article>
   <h3>Version History</h3>
   <h4>Version 1.0 - Released 2013/09/07</h4>
   <p>While still spartan, this release has some useful features:</p>
   <ul>
      <li>This version list</li>
      <li>Sprints - Very basic functionallity at this point, but usable</li>
      <li>Several UI Bugs and Quirks</li>
   </ul>

   <h4>Verrsion 0.x - Released Periodically</h4>
   <p>These prior versions were released at periodic times thoughout the development cycle just so I could use the system to track
      what I was doing.
   </p>
   <ul>
      <li>No sprint support</li>
      <li>Grouping of tasks initially not supported</li>
      <li>Grouping of tasks eventually supported via the non-task items</li>
   </ul>
</article>

<article>
   <h2>Back Story</h2>
    <p>
        Home Scrum is a very simple project tracking tool that is loosely built around the Scrum methodology of software development.
        I am not sure this tool will ever completely implement all of the functionallity required to truly do scrum, so if you are
        looking for a full fledged scrum management tool, you probably need to keep looking.  This is meant to be a scrum-like tool
        for personal use (or very small groups).
    </p>
    <p>
        Home Scrum was started because I wanted a simple project I could work on in order to practice using some technologies
        that I do not get to use often at my day job.  These technologies include:
    </p>
    <ul>
        <li>MVC</li>
        <li>Object-Relational Mapping (I am using NHibernate in this project, though I have also used Microsoft's Entity Framework)</li>
        <li>Dependency Injection (I am using Ninject for this project, though I have also used Unity and MEF)</li>
    </ul>
    <p>
        I decided to go with this tool because I needed a way to keep track of tasks that I needed to do on these side projects I work on.
        I only get to work on them sporadically, so I am constantly forgetting where I am on the project and what needs to be done.  So I 
        figured I may as well make one of the projects be the building of a tool to help me out.
    </p>
    <p>
        I named it "Home Scrum" because I suck at naming things, I am primarily going to use it for tracking projects that I work on
        at home in my spare time, and I didn't want to waste precious time (or brain cycles) coming up with a better name.
    </p>
</article>

<article>
    <h2>About Scrum</h2>
    <p>
        If you would like to learn more about scrum, these resources may be helpful:
    </p>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/Scrum_(development)">Scrum - Wikipedia</a></li>
        <li><a href="http://www.scrumalliance.org/learn_about_scrum">What is Scrum?</a></li>
    </ul>
</article>