@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <article class="featured">
        <div class="content-wrapper">
            <h2>Welcome</h2>
            <p>
                Welcome to HomeScrum.  There isn't much here right now, but I am working on it.  At some point, this
                message will be replaced with something useful.  Examples may include:
            </p>
            <ul>
                <li>Statuses of current sprints (open work items, etc)</li>
                <li>Burndown Charts for current sprints</li>
                <li>A list of open items for the current user</li>
                <li>Articles about new features</li>
            </ul>
        </div>
    </article>
}
