.hs-content {
   margin: 1em;
}

/*
 * Tables
 */
table {
   border-color: #004a6a;
   border-width: 1px;
   border-style: solid;
   border-collapse: collapse;
   width: 100%;
}

   table th {
      background-color: #004a6a;
      color: #ffffff;
      border-width: 1px;
      border-color: #004a6a;
      border-style: solid;
      padding: 3px;
      text-align: left;
   }

      table th.DescriptiveText {
         min-width: 400px;
      }

      table th.FirstDataColumn {
         border-left: none;
      }

      table th.LastDataColumn {
         border-right: none;
      }

   table td {
      background-color: #ffffff;
      color: #000000;
      border-width: 1px;
      border-color: #004a6a;
      border-style: none solid;
      padding: 3px 5px;
   }

      table td.SortIcon {
         border-right: none;
         width: 10px;
      }

      table td.FirstDataColumn {
         border-left: none;
      }

      table td.LastDataColumn {
         border-right: none;
      }

      table td.DescriptiveText {
         min-width: 400px;
      }
