@model IEnumerable<HomeScrum.Web.Models.Sprints.SprintIndexViewModel>

@{
    ViewBag.Title = "Current Sprints";
}

@Html.Partial( "_SprintList", Model )

<div class="ActionButtonArea">
    @Html.ActionLink( "Create New", "Create", null, new { @class = "btn btn-primary" } )
</div>