@model IEnumerable<HomeScrum.Web.Models.Sprints.SprintIndexViewModel>

@{
    ViewBag.Title = "Current Sprints";
}

@Html.Partial( "_SprintList", Model )

<div id="ActionButtonArea">
    @Html.ActionLink( "Create New", "Create", null, new { id = "CreateNewItem" } )
</div>

<script>
    $(function () {
        $("#CreateNewItem").button();
    });
</script>
