@model IEnumerable<HomeScrum.Web.Models.Sprints.SprintIndexViewModel>

@{
   ViewBag.Title = "All Sprints";
   ViewBag.ActionName = "Index";
}

@Html.Partial( "_SprintList", Model )

<div class="ActionButtonArea">
   @Html.ActionLink( "Create New", "Create",
         new { callingAction = ViewBag.ActionName },
         new { @class = "btn btn-primary", data_target = "#modalEditor", data_toggle = "modal" } )
</div>
