@model HomeScrum.Web.Models.Admin.SprintStatusEditorViewModel

<h2>Sprint Status</h2>

@using (Html.BeginForm( null, null, null, FormMethod.Post, new { id = "Editor", @class = "form-horizontal", role = "form" } ))
{
   @Html.Partial( "_Editor", Model )

   @Html.Partial( "_EditorButtonArea", Model )
}