@model IEnumerable<HomeScrum.Web.Models.WorkItems.WorkItemIndexViewModel>

@{
   ViewBag.Title = "Work Items";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_WorkItemList", Model )

<div class="ActionButtonArea">
   @Html.ActionLink( "Create New Work Item", "Create", new { callingAction = "Index" }, new { @class = "btn btn-primary" } )
</div>