@model IEnumerable<HomeScrum.Web.Models.WorkItems.WorkItemViewModel>

@{
    ViewBag.Title = "Work Items";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_WorkItemList", Model )

<div id="ActionButtonArea">
    @Html.ActionLink( "Create New", "Create", null, new { id = "CreateNewItem" } )
    <input type="checkbox" id="ShowCompletedToggle" /><label for="ShowCompletedToggle">Show/Hide</label>
</div>

<script>
    $(function () {
        $("#CreateNewItem").button();
        setupShowHideButton("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()", $("#ShowCompletedToggle"), "Completed");
    });
</script>