@model IEnumerable<HomeScrum.Web.Models.WorkItems.WorkItemIndexViewModel>

@{
   ViewBag.Title = "My Assignments";
   ViewBag.ActionName = "MyAssignments";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_WorkItemList", Model )

<div id="ActionButtonArea">
   @Html.ActionLink( "Create New Work Item", "Create", new { callingAction = "MyAssignments" }, new { id = "CreateNewItem" } )
</div>

<script>
   $(function () {
      $("#CreateNewItem").button();
   });
</script>
