@model IEnumerable<HomeScrum.Web.Models.WorkItems.WorkItemIndexViewModel>

@{
   ViewBag.Title = "Unassigned Tasks";
   ViewBag.ActionName = "UnassignedTasks";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_WorkItemList", Model )

<div class="ActionButtonArea">
   @Html.ActionLink( "Create New Work Item", "Create", new { callingAction = ViewBag.ActionName }, new { @class = "btn btn-primary" } )
</div>
