@model IEnumerable<HomeScrum.Web.Models.Base.SystemDomainObjectViewModel>

@{
    ViewBag.Title = "Acceptance Criterion Statuses";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_SystemDataObjectList", Model )