@model HomeScrum.Data.Domain.WorkItemType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    ViewBag.EditorButtonLabel = "Save";
    Html.Partial( "_Editor", Model );
}
@*@Html.Partial( "_Editor", Model )*@

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
