@model IEnumerable<HomeScrum.Web.Models.Admin.WorkItemTypeViewModel>

@{
    ViewBag.Title = "Work Item Types";
}

<h2>@ViewBag.Title</h2>

@Html.Partial( "_DataObjectList", Model )

<input type="checkbox" id="MakeSortable" /><label for="MakeSortable">Change Order</label>

<script>
    $(function () {
        // TODO: Read up on how to make this testable and more modular.
        //       Also, I need an endpoint here to POST the changes to
        //       once the user saves changes.
        $(".ListBody").sortable();
        $(".ListBody").sortable("disable");
        $("#MakeSortable").button();

        $("#MakeSortable").click(
            function () {
                if ($(this).is(":checked")) {
                    $(this).button("option", "label", "Save Changes");
                    $(".ListBody").sortable("enable");
                    $(".ListBody").disableSelection();
                }
                else {
                    $(this).button("option", "label", "Change Order");
                    $(".ListBody").sortable("disable");
                    $(".ListBody").enableSelection();
                    $.ajax({
                        url: '/WorkItemTypes/UpdateSortOrders/',
                        data: { items: $(".ListBody").sortable('toArray') },
                        type: 'post',
                        traditional: true
                    });
                }
            });
    });
</script>
